.forms {
  display: block;
  width: 100%;
  height: max-content;
  padding-top: 10px;
padding-bottom: 40px;

}

.forms > * {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.forms input {
  width: 90%;
  height: 40px;
  font-size: 20px;
  
}


.forms input:focus{
  outline: none; /* Remove the default focus outline */
  border-color: #4CAF50; /* Change the border color on focus */
  background-color: #f0f0f0;
}

.inputBox{
    padding-left: 5px;
}

.forms button {
  width: 90%;
  border: 1px solid black;
  border-radius: 4px;
  height: 38px;
  font-size: 20px;
  cursor: pointer;
}

.google{
    background-color:lightblue;
}

.forms p{
    font-size: 18px;
margin-left: -10px;
    text-align: center;
}

.forms a{
    color: blueviolet;
    text-decoration: none;
}