.container {

  height: 100%;
  width: 100%;

}

.book {
  height: 300px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.text_book{
    padding-top: 3rem;
    margin-left: 10px;
}

.text_book p{
    font-size: 18px;
    display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn_container{
 
display: flex;
flex-wrap: wrap;

}
.btn_container button{
    height: 40px;
    min-width: 120px;
    text-transform: capitalize;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    background-color: lightblue;
}

.btn_container button:hover{
    background-color: rgb(160, 131, 187) ;
    cursor: pointer;
}

.btn_active{
    background-color: purple ;
}