.container {
  height: max-content;
  position: relative;
  width: 400px;
  background-color: gray;
  text-align: center;
  border-radius: 8px;
}

.container h2{
    padding-top: 20px;
}

.content_container h2{
padding-bottom: 20px;
}

.selection {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 90%;
  margin: auto;
  height: 40px;
}

.selection button {
  height: 100%;
  border: 1px solid black;
  
  border-radius: 4px;
}




.active{
    background-color: rgb(188, 55, 146);
    
}


